body {
  margin: 0;
}

.menubar {
  display: block;
  padding: 20px;

  font-family: helvetica;
}

.showbar {
  display: block;
  padding: 35px;

  font-family: futura;
  font-weight: 100;
}

.main-content {
  display: block;
  padding: 20px;

  font-family: helvetica;

  background-color: #EEEEEE;
}

.footer {
  display: block;
  padding: 10px;

  background-color: #666666;
}
